<div *ngIf="showNav" class="page-blocker"></div>
<header class="header">
  <div class="center-content" [style]="{ 'justify-content': 'space-between' }">
    <button
      class="header__button"
      [class]="showNav ? 'translate-button' : null"
      (click)="toggleNavigation()"
    >
      <div class="line" [class]="showNav ? 'translate-clockwise' : null"></div>
      <div
        class="line"
        [class]="showNav ? 'translate-anti-clockwise' : null"
      ></div>
    </button>
    <nav class="header__nav" [class]="showNav ? 'move-in' : null">
      <ul class="nav__links-ctn">
        <a class="link" *ngFor="let link of links" [routerLink]="link.path">
          <li class="nav__link-ctn">
            <img [src]="link.icon" alt="" width="40" />
            {{ link.name }}
          </li>
        </a>
      </ul>
    </nav>
    <!-- <app-button
      (click)="showModal()"
      text="Mudar tempos"
      color="purple"
    ></app-button> -->
  </div>
</header>
