@import "_mixins";

$icons: (
  "../../../assets/icons/home.png",
  "../../../assets/icons/data.png",
  "../../../assets/icons/user.png",
  "../../../assets/icons/signup.png"
);

.header {
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid rgba(0, 0, 0, 0.25);
  @include flexCtn(row, center, center, 0);
  height: 75px;
  width: 100vw;
  position: fixed;
  z-index: 500;
  background-color: #2f374a;

  &__button {
    position: relative;
    z-index: 500;
    width: 50px;
    .line {
      background-color: white;
      height: 5px;
      border-radius: 5px;
      transition: all 500ms;
      margin-bottom: 0.25rem;
    }

    .line:nth-child(1) {
      width: 100%;
    }
    .line:nth-child(2) {
      width: 75%;
    }
  }

  &__nav {
    max-width: 300px;
    width: 50%;
    background-color: white;
    top: 0;
    position: fixed;
    left: -50%;
    z-index: 499;
    transition: all 500ms;
    padding-top: 5rem;
    border-bottom-right-radius: 10px;

    .nav__link-ctn {
      padding: 1rem;
      padding-left: 1rem;
      color: #212121;
      font-size: 1.25rem;
      display: flex;
      align-items: center;
      gap: 1rem;

      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          border-top: 1px solid rgba(0, 0, 0, 0.25);
        }
      }

      &:nth-child(3) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      }

      .link {
        color: #212121;
        position: relative;
        top: -5px;
        padding-left: 0.5rem;
      }
    }
  }
}

// button

.translate {
  &-button {
    position: absolute;
    left: 30px;
  }

  &-clockwise {
    transform: rotate(45deg);
    background-color: #212121 !important;
    position: absolute;
  }

  &-anti-clockwise {
    background-color: #212121 !important;
    transform: rotate(-45deg);
    width: 100% !important;
    position: absolute;
  }
}

// nav

.move-in {
  left: 0;
}

@media (max-width: 540px) {
  .center-content {
    @include maximumContainerSize($mobile);
  }
}

@media (min-width: 541px) and (max-width: 991px) {
  .center-content {
    @include maximumContainerSize($tablet);
  }
}

@media (min-width: 992px) {
  .center-content {
    @include maximumContainerSize($desktop);
  }
}
