@import "_variables";
@import "_mixins";

$buttonColors: (
  "purple": $purple,
  "red": $red,
  "blue": $blue,
  "light-blue": $light-blue,
);

.btn-ctn {
  padding: 1rem 0;
  width: 100px;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  position: relative;
}

.btn-color,
.detail {
  @each $color, $value in $buttonColors {
    &__#{$color} {
      background-color: $value;
    }
  }
}

.detail {
  position: absolute;
  top: 25px;
  z-index: -1;
  width: 100px;
  height: 54px;
  opacity: 0.5;

  @each $color, $value in $buttonColors {
    &__#{color} {
      border-right: 5px solid $value;
    }
  }
}

@media (min-width: 992px) {
  .detail {
    top: 42px;
  }
}
