@import "_mixins";

.data {
  background-color: white;
  padding: 1rem 1.5rem;
}

.data-ctn {
  margin: 0 auto;
}

.time {
  background-color: white;
  padding: 1rem 0.5rem;
  font-size: 1rem;
}

.ctn {
  gap: 1rem;
  margin: 0 auto;
  flex-direction: column;
  @include maximumContainerSize($mobile);
  margin-bottom: 1rem;
}
