@import "forms.scss";
@import "_mixins";

.signup-page {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include flexCtn(column, center, center, 0);
}

$backgrounds: (
  "/assets/background-signup.jpeg": "",
  "/assets/backgrounds/desktop-signup.webp": 638px,
);
@include containerBackground($backgrounds);
