// colors

$dark: #2f374a;
$purple: #b06dad;
$blue: #2a9df4;
$red: #e96060;
$light-blue: #81c9d3;

// fonts
$openSans: "Open Sans", sans-serif;

// screens
$mobile: 540px;
$tablet: 900px;
$desktop: 1440px;
