/* You can add global styles to this file, and also import other style files */

@import "_variables";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $openSans;
  background-color: transparent;
  border: none;
  outline: none;
  list-style-type: none;
  list-style-position: inside;
  text-decoration: none;
}

html,
body {
  height: 100%;
}

button {
  cursor: pointer;
}

body {
  background-color: $dark;
}

main {
  // prevent page to overlap header
  padding-top: 7rem;
}

.page-blocker {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 400;
  height: 100%;
  width: 100%;
}
