<app-message></app-message>
<p-dialog header="Alterar relógio" position="top" [(visible)]="display">
  <ng-template pTemplate="form">
    <form action="">
      <label for="">
        Minutos
        <input type="number" />
      </label>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="display = false"
      label="Ok"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>
<main class="initial-page">
  <article class="center-content-main">
    <section class="btn-ctn center">
      <app-button
        (click)="changeTime('05:00')"
        [pushed]="false"
        text="Pequeno"
        color="purple"
      ></app-button>
      <app-button
        (click)="changeTime('25:00')"
        [pushed]="true"
        text="Padrão"
        color="blue"
      ></app-button>
      <app-button
        [pushed]="false"
        (click)="changeTime('50:00')"
        text="Grande"
        color="red"
      ></app-button>
    </section>
    <section class="watch-ctn">
      <!-- <div class="timer-ctn"> -->
      <h2 class="time">{{ currentTime }}</h2>
      <!-- <button (click)="display = true">
          <img width="64" height="64" src="assets/icons/Edit.svg" alt="" />
        </button> -->
      <!-- </div> -->
      <div id="watch" class="watch">
        <button
          [class]="animation"
          (click)="watch.isRunning ? pauseTimer() : startTimer()"
        >
          <img
            [style.left]="icon.endsWith('play.svg') ? '10px' : null"
            class="watch-icon"
            width="128"
            height="128"
            [src]="icon"
            alt=""
          />
        </button>
      </div>
      <section class="center btns gap-1">
        <app-button
          (click)="restart()"
          color="light-blue"
          text="Reiniciar"
        ></app-button>
        <app-button
          (click)="stop()"
          text="Parar"
          color="light-blue"
        ></app-button>
      </section>
    </section>
  </article>
</main>
<!-- <footer>
  <div>
    Icons made by
    <a href="https://www.freepik.com" title="Freepik"> Freepik </a> from
    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com'</a>
  </div>
</footer> -->
