@import "_variables.scss";
@import "_mixins.scss";

$box-shadow-3d: 0 0 0px 4px rgba(255, 255, 255, 0.25);

.initial-page {
  @include flexCtn(column, none, none, 5rem);
  height: 80%;
}

.watch-ctn {
  @include flexCtn(column, center, center, 4rem);
  margin-top: 2rem;
}

.watch-icon {
  position: relative;
  z-index: 300;
  top: 10px;
}

#watch {
  position: relative;
}

.btns {
  margin-top: 2rem;
}

.time {
  color: white;
  font-size: 4rem;
}

.center {
  @include flexCtn(row, center, center, 0rem);
}

.gap-1 {
  gap: 1rem;
}

.button-animation {
  &--off {
    animation-name: none;
  }

  &--on {
    animation-name: fade-out;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
}

@media (max-width: 350px) {
  .center {
    @include flexCtn(column, center, center, 1rem);
  }
}
